<a href="/" class="logo"></a>
<ul class="menu">
    {% for link in main_menu_links %}
        <li><a href="{% url link.href %}"
                class="{% if request.resolver_match.url_name == link.href %}active{% endif%}">
                {{link.name}}
            </a>
        </li> 
        {% endfor %}
    {% if user.is_authenticated %}
<li>
    <a href="{% url 'auth:edit' %}">
        {{ user.first_name|default:'Пользователь' }}
    </a>
</li>
{% endif %}
<li>
    {% if user.is_authenticated %}
      <a href="{% url 'auth:logout' %}">выйти</a>
    {% else %}
      <a href="{% url 'auth:login' %}">войти</a>
    {% endif %}
</li>
<li>
   <a href="#" class="search"></a>
</li>
<li>
    <a href="{% url 'basket:view' %}" class="basket"></a>
</li>
<li class="li_basket_count">
   {% if basket %}
      {{ basket.0.total_cost|floatformat:0 }} руб
      ({{ basket.0.total_quantity }} шт)
    {% endif %}
</li>
</ul>


