{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
  <div class="categories_list">
    <button class="new_category">
      <a href={% url 'admin:category_create' %}>
        новая категория
      </a>
    </button>


  <div class="category_record">
         <div class="category_name">
          Все товары
        </div>
        <div class="category_actions">
          <button>
            <a href={% url 'admin:products' 0 %}>
              товары категории
            </a>
          </button>
        </div>
  </div>



    {% for object in object_list %}
      <div class="category_record {% if not object.is_active %}not active{% endif %}">
         <div class="category_name">
          {{ object.name|title }} ({% if object.is_active == True %}Категоря активна{% else %}Категория не активна{% endif %})
        </div>
        <div class="category_actions">
          <button>
            <a href={% url 'admin:products' object.pk %}>
              товары категории
            </a>
          </button>
          <button>
            <a href={% url 'admin:category_update' object.pk %}>
              редактировать
            </a>
          </button>
          <button>
            <a href={% url 'admin:category_delete' object.pk %}>
              удалить
            </a>
          </button>
        </div>
        <div class="category_desc">
          {{ object.description|title }}
        </div>
      </div>
    {% endfor%}
  </div>
{% endblock %}