{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="div_new_prod">
        {% if category != 0 %}
            <button class="new_product">
              <a href={% url 'admin:product_create' object_list.0.category.pk %}>
                новый продукт
              </a>
            </button>
        {% endif %}
    </div>

  <div class="products_list">

    {% for object in product_list %}
      <div class="product_record">
        <img 
          src="/media/{{object.image|default:'products_images/default.jpg'}}"
          alt="{{ object.name }}" width=400px height=400px>
        <div class="product_name">
          {{ object.name|title }} ({{ object.is_active }})
        </div>
        <div class="product_actions">
          <button>
            <a href={% url 'admin:product_read' object.pk %}>
              подробнее
            </a>
          </button>
          <button>
            <a href={% url 'admin:product_update' category %}>
              редактировать
            </a>
          </button>
          <button>
            <a href={% url 'admin:product_delete' object.pk %}>
              удалить
            </a>
          </button>
        </div>
        <div class="summary">
          <b>цена</b>
          <p>{{ object.price }} руб</p>
          <b>количество на складе</b>
          <p>{{ object.quantity }}</p>
        </div>
        <div class="product_desc">
          {{ object.short_desc|title }}
        </div>
      </div>
    {% endfor%}
  </div>
{% endblock %}