{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
  <div class="user_delete">
    Уверены, что хотите удалить "{{ product_on_delete.name|title }}"?
    <form action="{% url 'admin:product_delete' product_on_delete.pk %}"
          method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="удалить">
    </form>
    <button class="btn btn-success">
      <a href="{% url 'admin:products' product_on_delete.category.pk %}">
        Отмена
      </a>
    </button>
  </div>
{% endblock %}